<p>
  <strong>Date</strong>
  <%= @result.date %>
</p>
<p>
  <strong>Home Team</strong>
  <%= @result.home_team %>
</p>
<p>
  <strong>Away Team</strong>
  <%= @result.away_team %>
</p>
<p>
  <strong>Home Score</strong>
  <%= @result.home_score %>
</p>
<p>
  <strong>Away Score</strong>
  <%= @result.away_score %>
</p>
<p>
  <strong>Tournament</strong>
  <%= @result.tournament %>
</p>
<p>
  <strong>City</strong>
  <%= @result.city %>
</p>
<p>
  <strong>Country</strong>
  <%= @result.country %>
</p>
<p>
  <strong>Neutral</strong>
  <%= @result.neutral %>
</p>

<%= link_to 'Back', controller: 'results' %>
